:root {
    --blue: #29436b;
    --violet: #7c8ab6;
    --cyan: #b1dde9;
    --orange: #df8869;
    --brown: #846460;
    --white: #ffffff;
}

.container-fluid {
    background-color: var(--blue);
}

.wrapper {
    background-color: var(--white);
    width: 600px;
    height: fit-content;
    padding: 1rem;
    border-radius: 10px;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    color: var(--cyan);
}

#todo-list .todo.done {
    color: var(--violet);
    text-decoration: line-through;;
}